<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Probably the most complete UI kit out there. Multiple functionalities and controls added,  extended color palette and beautiful typography, designed as its own extended version of Bootstrap at the highest level of quality.">
    <meta name="author" content="Webpixels">
    <title>Boomerang UI Kit - Free Bootstrap Framework by Webpixels</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
<!-- Theme CSS -->
<link type="text/css" href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
<!-- Demo CSS - No need to use these in your project -->
<link type="text/css" href="{{ url_for('static', filename='css/demo.css') }}" rel="stylesheet">

</head>
<body>
    <!-- ... [现有的导航栏代码] -->

    <!-- 新添加的S-DES加密部分 -->
    <main class="main">
        <section class="py-xl bg-cover bg-size--cover" style="background-image: url('static/images/backgrounds/img-1.jpg')">
            <span class="mask bg-primary alpha-6"></span>
            <div class="container d-flex align-items-center no-padding">
                <div class="col">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="heading h3 pt-3 pb-5">Encrypt with S-DES</h4>
                                    <form id="encrypt-form">
                                        <div class="form-group">
                                            <label for="plaintext-encrypt">Plaintext:</label>
                                            <input type="text" class="form-control" id="plaintext-encrypt" name="plaintext">
                                        </div>
                                        <div class="form-group">
                                            <label for="key-encrypt">Key (10 bits):</label>
                                            <input type="text" class="form-control" id="key-encrypt" name="key" maxlength="10">
                                        </div>
                                        <button type="submit" class="btn btn-block btn-lg bg-primary mt-4 text-white">Encrypt</button>
                                    </form>
                                    <h5 class="pt-4">Ciphertext:</h5>
                                    <p id="ciphertext-output"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="heading h3 pt-3 pb-5">Decrypt with S-DES</h4>
                                    <form id="decrypt-form">
                                        <div class="form-group">
                                            <label for="plaintext-decrypt">Plaintext:</label>
                                            <input type="text" class="form-control" id="plaintext-decrypt" name="plaintext">
                                        </div>
                                        <div class="form-group">
                                            <label for="ciphertext-decrypt">Ciphertext:</label>
                                            <input type="text" class="form-control" id="ciphertext-decrypt" name="ciphertext">
                                        </div>
                                        <button type="submit" class="btn btn-block btn-lg bg-primary mt-4 text-white">Find Possible Keys</button>
                                    </form>
                                    <h5 class="pt-4">Possible Keys:</h5>
                                    <ul id="keys-list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ... [原有的登录部分代码] -->
    </main>

    <!-- ... [页脚和JavaScript引入不变] -->

<!-- Core -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/popper/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
<!-- FontAwesome 5 -->
<script src="{{ url_for('static', filename='vendor/fontawesome/js/fontawesome-all.min.js') }}" defer></script>
<!-- Page plugins -->
<script src="{{ url_for('static', filename='vendor/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/input-mask/input-mask.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/nouislider/js/nouislider.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/textarea-autosize/textarea-autosize.min.js') }}"></script>
<!-- Theme JS -->
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>

</body>
</html>
